html, * {
    font-family: 'Lobster', cursive;
    box-sizing: border-box;
    outline: 0 !important;
  }
  
  body {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1 {
      font-size: 12vmin;
      height: 10vh;
  }
  
  h2 {
      font-size: 6vmin;
      height: 15vh;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border: 1px solid black;
  }

  h3 {
      border: 1px solid black;
  }

  img {
    width: 15vmin;
    height: 20vmin;
    border: 1px solid black;
    padding: 1vmin;
}

#slots {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0 10vmin;
    border: 1px solid black;
  }

  #spin {
      height: 8vmin;
      width: 8vmin;
      border-radius: 50%;
      margin-top: 2vmin;
      font-size: 3vmin;
      border: 1px solid black;
  }

  p {
      display: inline;
      font-family: 'VT323', monospace;
      font-size: 7vmin;
  }