html, * {
    font-family: 'Lobster', cursive;
    box-sizing: border-box;
    outline: 0 !important;
}
  
body {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

main {
    background-color: #55ab55;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border: 4px solid black;
    margin-top: 20vmin;
}

h1 {
    font-size: 8vmin;
    padding: 3vmin;
    height: 10vh;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 2px;
}

h2 {
    display: flex;
    flex-direction: column;
    font-size: 6vmin;
    color: gold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 3px;
    height: 10vh;
    border: 1px solid black;
    background-color: #363131;
}

img {
    width: 15vmin;
    height: 20vmin;
    padding: 1vmin;
}

#slots {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0 10vmin;
    border-top: 4px solid black;
    border: 3px solid black;
    background-color: #f7f5e7;
    height: 20vmin;
}

#button-cust {
    border: 1px solid black;
    padding: 1vmin;
    background-color: #363131;
    border-bottom: 4px solid black;
}

#spin, #times-one, #times-two, #times-three {
    height: 8vmin;
    width: 8vmin;
    font-size: 3vmin;
    border-radius: 50%;
    border: 2px solid black;
    margin: 1vmin 2vmin;
}

#spin {
    background-color: green;
    color: white;
}

#times-one {
    background-color:#88ddfc;
    color: white;
}

#times-two {
    background-color: #b690de;
    color: white;
}

#times-three {
    background-color: #c93333;
    color: white;
}

#all-in {
    position: absolute;
    height: 8vmin;
    width: 8vmin;
    font-size: 3vmin;
    border-radius: 20%;
    border: 2px solid black;
    margin-left: 35vmin;
    margin-top: 28.3vmin;
    background-color: darkorange;
    color: white;
}

p {
    display: inline;
    font-family: 'VT323', monospace;
    font-size: 7vmin;
}

#play-again {
    border: 4px solid black;
    width: 12vmin;
    height: 4vmin;
    font-size: 2vmin;
    background-color: #363131;
    color: white;
    text-align: center;
    margin-bottom: 1vmin;
}

#rules {
    position: absolute;
    height: 90vmin;
    width: 60vmin;
    margin-top: 12vmin;
    margin-left: 75vmin;
}

#rules-button {
    position: absolute;
    font-size: 2vmin;
    border: 4px solid black;
    width: 16vmin;
    height: 4vmin;
    font-size: 2vmin;
    background-color: #363131;
    color: white;
    text-align: center;
}

#sound-toggle {
    position: absolute;
    margin-top: 56.5vmin;
    height: 3vmin;
    width: 16vmin;
    font-size: 2vmin;
    background-color: #363131;
    color: white;
    text-align: center;
}

#customization {
    list-style: none;
    position: absolute;
    margin-left: 52.5vmin;
    margin-top: 15vmin;
}

#green {
    color: green;
    font-size: 2.25vmin;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#blue {
    color: #88ddfc;
    font-size: 2.1vmin;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#purple {
    color: #b690de;
    font-size: 2.1vmin;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#red {
    color: #c93333;
    font-size: 2.1vmin;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#gold {
    color: gold;
    font-size: 2.1vmin;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
